{% extends 'base.html' %}

{% block title %}Order Form{% endblock %}


{% block content %}


    <table>
        <tbody>
            {% for item in sbi %}
            <tr>
                <td>{{item.product_id.name}} - {{item.product_id.description }}</td>
                <td><img src="{{item.product_id.image.url}}" /> </td>
                <td>{{item.quantity}}</td>
                <td>{{ item.item_price }}</td>
                <td><a href="/removeitem/{{item.id}}">Remove</a> </td>
            </tr>
                
            {% endfor %}
        </tbody>
    </table>

<form method="POST", action=".">
    {% csrf_token %}
    {{ form.as_table }}
    <button type="submit">Order</button>
</form>

{% endblock %}