{% extends 'base.html' %}
{% block title %} {{product.name}} {% endblock %}


{% block content %}
{% if added %}
    <h1> Added to basket</h1>
{% endif %}

<div class="card mx-auto mt-3" style="width: 18rem;">
  <img style="margin: 10%;" src="{{product.product_image.url}}" class="carud-img-top" alt="{{product.product_image.url}}">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <h1>€{{product.price}}</h1>
    <p class="card-text">{{product.description}}</p>
    <a href="/addbasket/{{product.id}}" class="btn btn-light">Add to Basket</a>
    <a href="" class="btn btn-outline">Buy Now</a>
  </div>
</div>

{% endblock %}